#root {
    width: 20rem;
    background-image: url("../img/markt.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
#container {
    opacity: 85%;
}
:root {
    --mdc-theme-primary: #33691E;
    --mdc-theme-secondary: #827717;
}
dt {
    background-color: #7CB342;
    color: var(--mdc-theme-on-primary);
}
h2, dd {
    background-color: var(--mdc-theme-on-primary);
}

.aktiv { background-color: #4b81d6 }
.inaktiv { background-color: #7CB342 }
h1, h2, dl {
    margin: 0;
}
i.material-icons {
    cursor: pointer;
}
button.material-icons {
    font-size: inherit;
    vertical-align: bottom
}
[type="checkbox"] {
    vertical-align: top;
    margin-right: 8px;
}
dt {
    display: flex;
    font-weight: 500;
    padding: 3px 5px;
}
dt span {
    width: 100%;
}

dd {
    display: flex;
    margin-left: 0;
}
label {
    width: 91%;
    cursor: pointer
}
footer {
    display: flex;
    justify-content: space-between;
}

.mdc-dialog {
    opacity: 100%;
}
.mdc-dialog__surface {
    position: absolute;
    top: 10%;
    left: 25px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

